# config SHIELD_IANKY_DM
#     bool

config SHIELD_IANKY_DM_LEFT
    def_bool $(shields_list_contains,ianky_dm_left)
#     select SHIELD_IANKY_DM

config SHIELD_IANKY_DM_RIGHT
    def_bool $(shields_list_contains,ianky_dm_right)
#     select SHIELD_IANKY_DM
