if SHIELD_IANKY_DM_LEFT

config ZMK_KEYBOARD_NAME
    default "Ianky DM"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IANKY_DM_LEFT || SHIELD_IANKY_DM_RIGHT

config ZMK_SPLIT
    default y

endif
